* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  font-family: "Playfair Display", serif;
}
.container {
  background-image: url("images/image.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  overflow-y: auto;
  width: 100%;
  position: relative;
  padding: 30px 80px;
}
.app-preview {
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-preview img {
  width: 320px;
  transform: rotate(14deg);
}
.header {
  padding: 10px 30px;
  width: fit-content;
  color: #ffffff;
  font-size: 24px;
  gap: 10px;
  letter-spacing: 3px;
  /* font-family: "Open Sans", sans-serif; */
  display: flex;
  margin: 0 auto;
  backdrop-filter: blur(17px) saturate(200%);
  -webkit-backdrop-filter: blur(17px) saturate(200%);
  background-color: rgba(98, 98, 98, 0.23);
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.header img {
  height: 30px;
  width: 30px;
}
.flex {
  display: flex;
  margin-top: 60px;
  width: 100%;
}

.content {
  width: 50%;
}

.app-preview {
  width: 50%;
}
.content h2 {
  font-size: 72px;
  color: #ffffff;
}
.content span {
  color: #03d383;
}
.content p {
  font-size: 18px;
  margin-top: 20px;
  color: #ffffff;
}
.download-section {
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 60px 0 0px 0;
}
.download-card {
  flex: 1;
  backdrop-filter: blur(17px) saturate(200%);
  -webkit-backdrop-filter: blur(17px) saturate(200%);
  background-color: rgba(98, 98, 98, 0.23);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  width: 350px;
  gap: 16px;
  display: flex;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  padding: 16px 16px;
  box-shadow: 0 1px 4px rgba(42, 122, 226, 0.06);
}
.download-card img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
.download-title {
  font-size: 20px;
  font-weight: 600;
  margin-top: 6px;
  color: #ffffff;
}
.download-desc {
  font-size: 12px;
  color: #a39f9f;
}

.qr-section img {
  width: 190px;
  height: 190px;
}
a {
  text-decoration: none;
}

#modal-bg {
  height: 100%;
  width: 100%;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.464);
  position: absolute;
  top: 0;
  left: 0;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  z-index: 99;
  right: 0;
  bottom: 0;
  display: none;
}

.modal {
  backdrop-filter: blur(17px) saturate(200%);
  -webkit-backdrop-filter: blur(17px) saturate(200%);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  background-color: rgba(98, 98, 98, 0.23);
  padding: 16px;
  text-align: right;
}
.modal p {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}

.modal button {
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 14px;
  background-color: #cd4d4dfe;
  border: 1px solid #cd4d4dfe;
  color: #ffffff;
  font-weight: 500;
}
#confirmDownload {
  margin-right: 10px;
  background-color: #0ab473;
  border: 1px solid #0ab473;
  color: #ffffff;
}

@media only screen and (max-width: 600px) {
  #modal-bg {
    display: flex;
  }
  .app-preview {
    display: none;
  }
  .qr-section {
    display: none;
  }
  .flex {
    flex-direction: column;
  }
  .content {
    width: 100%;
    text-align: center;
  }
  .container {
    padding: 30px 20px;
  }
  .content h2 {
    font-size: 32px;
  }
  .content p {
    font-size: 14px;
  }
  .download-card {
    width: fit-content;
    padding: 10px;
    min-width: 280px;
  }
  .download-desc {
    font-size: 12px;
    text-align: left;
  }
  .download-title {
    font-size: 16px;
    text-align: left;
  }
  .download-section {
    justify-content: center;
  }
}
